.game-listing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18pt;
  }
}

.game-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  .game-card {
    position: relative;
    border: 1px solid var(--border-tertiary);
    border-radius: 16px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(
      0deg,
      var(--bg-primary) 0%,
      transparent 100%
    );
    img {
      border-radius: 16px;
      transition: 0.5s ease-in-out;
      max-height: 250px;
    }
    .game-card-body {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      opacity: 0;
      transition: 0.5s ease-in-out;
    }

    .game-card-btns {
      position: absolute;
      right: 1rem;
      top: 1rem;
      opacity: 0;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    &:hover {
      img {
        opacity: 0.5;
      }
      .game-card-btns {
        opacity: 1;
      }
      .game-card-body {
        opacity: 1;
      }
    }
  }
}
