.intro-video-card {
  display: flex;
  flex-direction: column;
  min-height: max-content;
  justify-content: space-between;
  gap: 2rem;
  font-family: "Bicyclette";
  font-size: 16pt;
  iframe {
    width: 100%;
    height: 300px;
  }
}
