.progress-bar {
  padding: 0.5rem;
  border-radius: 16px;
  border: 1px solid var(--border-primary);
  background: var(--bg-card);
  box-shadow:
    0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  .bar {
    border-radius: 12px;

    &.rainbow {
      background: linear-gradient(
        90deg,
        rgba(190, 24, 93, 0.17) 0%,
        rgba(20, 114, 255, 0.6) 100%
      );
    }

    &.grayscale {
      background: linear-gradient(90deg, var(--text-tertiary) 0%, var(--border-tertiary) 100%);
    }
    padding: 0.5rem;
    // width: 5%;
    font-family: "Tachyon W00 Light";

    white-space: nowrap;
  }
}
